
@import '~antd/dist/antd.css';

.main-header {
   display: flex;
   color: white;
   justify-content: space-between;
}

.textCenter {
   text-align: center;
}

.back-button {
   padding-left: 5px !important;
   padding-right: 5px !important;
   text-decoration: none;
   color: gray;
   margin-bottom: 10px;
}